.main-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    background-color: black;
}

.title-box {
    position:relative; /* anchor for absolute children */
    width: 100vw;
    height: calc(0.80 * 100vh);
    border-bottom: 5px solid goldenrod;
}

.title-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-content {
    position: absolute;
    top: calc(100vh/6);

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
}

.cta-box {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.btn{
    padding: 14px 50px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 999px;
    cursor: pointer;
    background-color: white;
    color: black;
    text-decoration: none;
}

.btn:hover {
    background-color:deepskyblue;
    box-shadow: 0 10px 10px rgba(251, 251, 251, 0.25);
}

.form-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    align-items: center;
    margin-bottom: 100px;
}

.user-form {
    max-width: 600px;
    margin: 60px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-form  label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.user-form input{
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: None;
    background-color: white;
    min-height: 30px;
    color: black;
}

.user-form textarea{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: None;
    background-color: white;
    min-height: 100px;
    color: black;
}

.user-form h2 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 25px;
    text-align: left;
    color: goldenrod;
}

.user-form h4 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: left;
    color: goldenrod;
}

.user-form p {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
}

.submit-btn {
    width: 600px;
    padding: 14px 28px;
    font-size: 1.5rem;
    font-weight: 650;
    border-radius: 10px;
    cursor: pointer;
    background-color: goldenrod;
    color: black;
    text-decoration: none;
    margin-top: 20px;
}

.submit-btn:hover {
    border-bottom: 5px solid lightyellow;
    color: white;
    box-shadow: 0 10px 24px rgba(236, 234, 234, 0.25);
}

.icon-box {
    display: flex;
    align-items: center; 
    gap: 10px;                  /* space between icon and text */
    margin-top: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.icon-box h4 {
    margin: 0;                  /* remove default h4 margin */
    color: goldenrod;
}

.reators-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}