.main-content {
    width: 100vw;
    height: calc(0.80 * 100vh);
    border-bottom: 5px solid goldenrod;
}

.title-box {
    position:relative; /* anchor for absolute children */
    width: 100vw;
    height: 100vh;
}

.title-box img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.title-content {
    position: absolute;
    top: calc(100vh/6);

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
}

.cta {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.btn{
    padding: 14px 28px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 999px;
    cursor: pointer;
    background-color: white;
    color: black;
    text-decoration: none;
}

.cta button:hover {
    background-color:deepskyblue;
}

.form-box {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
}