.main-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    background-color: black;
}

.icon-box {
    display: flex;
    align-items: center; 
    gap: 10px;                  /* space between icon and text */
    margin-top: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.icon-box h4 {
    margin: 0;                  /* remove default h4 margin */
    color: goldenrod;
}

.creators-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 40px auto;
}