.title-box {
    position:relative; /* anchor for absolute children */
    width: 100vw;
    height: calc(0.5 * 100vh);
    border-bottom: 5px solid goldenrod;
}

.title-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-content {
    position: absolute;
    top: 0;

    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
}

.title h1 {
    margin: 40px;
}

.cta-box {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.btn{
    padding: 14px 50px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 999px;
    cursor: pointer;
    background-color: white;
    color: black;
    text-decoration: none;
}

.btn:hover {
    background-color:deepskyblue;
    box-shadow: 0 10px 10px rgba(251, 251, 251, 0.25);
}